<tr>
    <td width="[m_width]" height="auto">
        <table width="[m_width]" align="center" class="inner" style="min-width:100%; width: 100%; table-layout:fixed; padding: 0px 0" border="0" cellspacing="0" cellpadding="0" bgcolor="white">
            <tbody><tr>
                <!-- Space -->
                <td width="50" style="font-size:1px; line-height:1px;" align="left">&nbsp;</td>
                <!-- ./ Space -->
                <!-- Image And Text -->
                <td width="auto" align="center">
                    <table width="100%" align="center" style="min-width:100%; width: 100%; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                            <!-- Logo's -->
                            <th width="145" height="89" class="stack-450" style="line-height:1px; font-size:1px; text-align:center;">
                                <img width="160" height="99" style="display: block;" alt="CYBG Logos" src="https://via.placeholder.com/160x99" border="0">
                            </th>
                            <!-- ./ Logo's -->
                            <!-- Space -->
                            <th width="50" class="change-450" style="font-size:1px; line-height:1px;" align="left">&nbsp;</th>
                            <!-- ./ Space -->
                            <!-- Text -->
                            <th align="left" class="stack-450" style="color:rgb(98, 98, 98); line-height: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 20px; text-align:left; font-weight:normal;">
                                Powered by
                                <span style="display: inline-block;">Clydesdale Bank</span>
                                <br class="hide">
                                <span style="display: inline-block;">and Yorkshire Bank</span>
                            </th>
                            <!-- ./ Text -->
                        </tr>
                    </tbody></table>
                </td>
                <!-- Image And Text -->
                <!-- Space -->
                <td width="50" style="font-size:1px; line-height:1px;" align="right">&nbsp;</td>
                <!-- ./ Space -->
            </tr>
        </tbody></table>
    </td>
</tr>