<!-- Safe online -->
<tr>
  <td align="center" style="padding: 0px 0px; border: 1px solid [bgcolor]" bgcolor="[bgcolor]">
      <table width="600" align="center" class="inner" style="min-width:100%; width: 100%;" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                  <table width="447" align="left" class="inner" style="width: 447px;" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td class="nopad" style="padding: 20px 0px;">
                                  <table align="left" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                          <tr>
                                              <td align="left" class="header" style="padding: 0px 0px 10px 46px; color: rgb(0, 0, 0); line-height: 17px; font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold;">Stay Safe Online</td>
                                          </tr>
                                          <tr>
                                              <td align="left" class="textpad" style="padding: 0px 20px 0px 46px; color: rgb(0, 0, 0); line-height: 24px; font-family: Arial, Helvetica, sans-serif; font-size: 17px;">
                                                  <a style="color: rgb(0, 0, 0);" href="https://www.youandb.co.uk/help/emails-from-b/?cid=eml_00190" target="_blank">How to check if an email
                                                      is genuine
                                                  </a>
                                                  <br>
                                                  <a style="color: rgb(0, 0, 0);" href="https://www.youandb.co.uk/help/?cid=eml_00191" target="_blank">Visit our Security&nbsp;Centre</a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td width="1" class="padtb20">
                  <table width="1" align="left" style="width: 1px;" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td width="1" height="12" class="hide" style="line-height: 1px; font-size: 0px;">
                                  <img width="1" height="1" style="display: block;" alt="" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/1x1spacer.png" border="0">
                              </td>
                          </tr>
                          <tr>
                              <td width="1" height="86" bgcolor="#c7c7c7">
                                  <img width="1" height="1" style="display: block;" alt="" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/1x1spacer.png" border="0">
                              </td>
                          </tr>
                          <tr>
                              <td width="1" height="12" class="hide" style="line-height: 1px; font-size: 0px;">
                                  <img width="1" height="1" style="display: block;" alt="" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/1x1spacer.png" border="0">
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td class="w70">
                  <table width="102" align="left" class="w70" style="width: 102px;" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td width="102" height="105" align="center" class="w70" valign="middle" style="vertical-align: middle;">
                                  <img width="30" height="37" style="display: block;" alt="Padlock Image" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/padlock.png" border="0">
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
          </tbody>
      </table>
  </td>
</tr>
<!-- / Safe online -->