<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>


<tr>
  <td align="[alignment]" bgcolor="[bgcolor]">
      <table align="center" border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr>
                  <td align="right" style="color: rgb(0, 0, 0); line-height: 11px; font-family:[fontfamily]; font-size: [fontsize]px;">
                    <a style="color: [textcolor]; font-weight: [fontweight]; font-family:[fontfamily]; font-size: [fontsize]px; text-decoration: none" href="[link1href]" target="_blank">[link1]</a>
                      &nbsp;&nbsp;|&nbsp;&nbsp;
                      <a style="color: [textcolor]; font-weight: [fontweight]; font-family:[fontfamily]; font-size: [fontsize]px; text-decoration: none;" href="[link2href]" target="_blank">[link2]</a>
                  </td>
              </tr>
          </tbody>
      </table>
  </td>
</tr>

<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
