
<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->

<!-- Safe online -->
<tr>
  <td align="center"  width="[m_width]" style="width: [m_width]" bgcolor="[bgcolor]">
    <table width="[m_width]" style='padding: [padding]' border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
              <td align="center">
                <img src="http://via.placeholder.com/[width1]x[height1]" alt="[alt1]" width="[width1]" height="[height1]" title="[alt1]" border="0">
              </td>
              <td align="center">
                <img src="http://via.placeholder.com/[width2]x[height2]" alt="[alt2]" width="[width2]" height="[height2]" title="[alt2]" border="0">
              </td>
              <td align="center">
                <img src="http://via.placeholder.com/[width3]x[height3]" alt="[alt3]" width="[width3]" height="[height3]" title="[alt3]" border="0">
              </td>
              <td align="center">
                <img src="http://via.placeholder.com/[width4]x[height4]" alt="[alt4]" width="[width4]" height="[height4]" title="[alt4]" border="0">
              </td>
            </tr>
        </tbody>
    </table>
  </td>
</tr>
<!-- / Safe online -->


<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->