<!-- Safe online -->
<tr>
  <td align="center"  width="[m_width]" style="width: [m_width]; border: 1px solid [bgcolor]" bgcolor="[bgcolor]">
    <table width="[m_width]" style='padding: [padding]' border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
              <td align="center">
                <img src="[image1]" alt="[alt1]" width="[width1]" height="[height1]" title="[alt1]" border="0">
              </td>
              <td align="center">
                <img src="[image2]" alt="[alt2]" width="[width2]" height="[height2]" title="[alt2]" border="0">
              </td>
              <td align="center">
                <img src="[image3]" alt="[alt3]" width="[width3]" height="[height3]" title="[alt3]" border="0">
              </td>
              <td align="center">
                <img src="[image4]" alt="[alt4]" width="[width4]" height="[height4]" title="[alt4]" border="0">
              </td>
            </tr>
        </tbody>
    </table>
  </td>
</tr>
<!-- / Safe online -->