<!-- Disclosure -->
<tr>
    <td bgcolor="[bgcolor]" style='border: 1px solid [bgcolor]'>
        <table width="[m_width]" style="padding: [padding]; min-width: [m_width]px; width: [m_width]px;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td bgcolor="[bgcolor]" align="[alignment]" >
                      <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]">
                        [p1]
                      </p>
                      <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]">
                        [p2]
                      </p>
                      <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]">
                        [p3]
                      </p>
                      <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]">
                        [p4]
                      </p>
                      <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]">
                        [p5]
                      </p>
                      <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]">
                        [p6]
                      </p>                      
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- End Disclosure -->