<!--  Social Media  -->
<tr>
    <td width="300" bgcolor='[bgcolor]' style="padding: 20px; background-color: [bgcolor]; border: 1px solid [bgcolor]">
        <table border="0" cellspacing="0" cellpadding="0" align="[alignment]">
            <tbody>
                <tr>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[fblink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="Facebook" style="display: block" alt="Facebook" src="[fbimage]" />
                        </a>
                    </td>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[twitterlink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="Twitter" style="display: block" alt="Twitter" src="[twitterimage]" />
                        </a>
                    </td>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[youtubelink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="YouTube" style="display: block" alt="YouTube" src="[youtubeimage]" />
                        </a>
                    </td>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[instagramlink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="B Instagram" style="display: block" alt="Instagram" src="[instagramimage]" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>  
    <td width="300" bgcolor='[bgcolor]' style="padding: 20px; background-color: [bgcolor]; border: 1px solid [bgcolor]">
        <table border="0" cellspacing="0" cellpadding="0" align="[alignment]">
            <tbody>
                <tr>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[fblink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="Facebook" style="display: block" alt="Facebook" src="[fbimage]" />
                        </a>
                    </td>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[twitterlink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="Twitter" style="display: block" alt="Twitter" src="[twitterimage]" />
                        </a>
                    </td>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[youtubelink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="YouTube" style="display: block" alt="YouTube" src="[youtubeimage]" />
                        </a>
                    </td>
                    <td style="padding: 0px [gap]px 0px [gap]px;">
                        <a href="[instagramlink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="B Instagram" style="display: block" alt="Instagram" src="[instagramimage]" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<!--  / Social Media  -->