<!--  SOCIAL MEDIA  -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>

<tr>
    <td align="left"  bgcolor='[bgcolor]'>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="top" style="padding: 30px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="responsive" style="width: 100%; min-width: 100%; text-align: center;">
                        <tbody>
                            <tr>
                                <td align="left" style="padding: 0; line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold;">
                                    <img width="60" height="75" src="http://via.placeholder.com/60x75" alt="B Logo">
                                </td>
                                <td width="200" align="right" style="vertical-align: baseline;padding: 0; line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; text-align: right;">
                                    <table border="0" cellspacing="0" cellpadding="0" align="right" class="table-center">
                                        <tbody>
                                            <tr>
                                                <td class="padr10" style="padding: 0 [spacebetween]px;">
                                                    <a href="[fblink]" target="_blank">
                                                        <img width="[iconsize]" height="[iconsize]" title="Facebook" style="display: block" alt="Facebook" src="http://via.placeholder.com/[iconsize]x[iconsize]" border="0">
                                                    </a>
                                                </td>
                                                <td class="padr10" style="padding: 0 [spacebetween]px;">
                                                    <a href="[twitterlink]" target="_blank">
                                                        <img width="[iconsize]" height="[iconsize]" title="Twitter" style="display: block" alt="Twitter" src="http://via.placeholder.com/[iconsize]x[iconsize]" border="0">
                                                    </a>
                                                </td>
                                                <td class="padr10" style="padding: 0 [spacebetween]px;">
                                                    <a href="[youtubelink]" target="_blank">
                                                        <img width="[iconsize]" height="[iconsize]" title="YouTube" style="display: block" alt="YouTube" src="http://via.placeholder.com/[iconsize]x[iconsize]" border="0">
                                                    </a>
                                                </td>
                                                <td class="padr10" style="padding: 0 [spacebetween]px;">
                                                    <a href="[instagramlink]" target="_blank">
                                                        <img width="[iconsize]" height="[iconsize]" title="Instagram" style="display: block" alt="Instagram" src="http://via.placeholder.com/[iconsize]x[iconsize]" border="0">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!--  /SOCIAL MEDIA  -->