<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->


<tr>
    <td align="center" bgcolor="[bgcolor]" style='padding: 10px 50px'>
        <table width="550" class="inner" style="width: 550px;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                
                <tr>
                    <td align="center" class="" style="padding: 10px 20px; color: [textcolor]; line-height: 1em; font-family: [fontfamily]; font-size: 30px; font-weight: bold;">
                        [header]
                    </td>
                </tr>
                <tr>
                    <td align="[alignment]" class="" style="padding: 10px 20px; color:[textcolor]; line-height: 1.5em; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: normal;">
                        [content]
                    </td>
                </tr>

            </tbody>
        </table>
    </td>
</tr>

<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->
