<!-- Button -->
<tr>
  <td align="center" bgcolor='[bgcolor]'>
      <table border="0" cellspacing="0" cellpadding="0" bgcolor='[bgcolor]'>
          <tbody>
              <tr>
                  <td align="center" style="border-radius: [buttonradius]">
                      <table width="[width]" style="width: [width]px;" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                              <tr>
                                  <td width="240" height="60" align="center" valign="middle" style="width: [width]px; color:#f16a2f; font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; vertical-align: middle; border-radius: [buttonradius]" bgcolor="#ffffff">
                                      <a style="color: [textcolor]; text-decoration: none; display: block;" href="#add_link" target="_blank">                                          
                                            [buttontext]                                          
                                      </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
  </td>
</tr>
<!-- / Button -->