<!-- Disclosure -->
<tr>
    <td align="center" bgcolor="[bgcolor]" style='border: 1px solid [bgcolor]'>
        <table width="[m_width]" class="inner" style="min-width: [m_width]px; width: [m_width]px;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td bgcolor="[bgcolor]" align="center" style="padding: [padding]; color: [color]; line-height: 18px; font-family: [textfont]; font-size: [textsize];">
                      <p>
                          If you have received this email in error, or no longer wish to receive emails from The team at B 
                          <a style='color: [linkcolor]; cursor: pointer; text-decoration: underline'>Unsubscribe here</a>.
                      </p>
                      <p>
                          To reassure you that this email is from us, we have included the second part of your postcode at the top of. 
                          If you have not provided us with this information or you have changed address recently please contact The team at B on
                          <a href="tel:08001217365" style="color: [linkcolor]; cursor: pointer;">0800 121 7365</a> to update your details.                        
                      </p>
                      <p>
                        Please note, we will never contact you via unsolicited email asking you for any personal, security or account information
                        such as your PIN, PAN or SCAN details, login details or personal passwords.
                      </p>
                      <p>
                        If for any reason you think this email is not from The team at B please forward it to us at
                        <a href="mailto:reportphishing@cybg.com" style="color: [linkcolor]; cursor: pointer; text-decoration: underline">reportphishing@cybg.com</a>
                        (please note no acknowledgement will be sent).
                      </p>
                      <p>
                       Clydesdalte Bank PLC (which also trades as B and Yorkshire Bank) is authorized by the Prudential Regulation Authority and regulated by the 
                       Financial Conduct Authority and the Prudential Regulation Authority.  (Financial Services Register No. 121873).  Clydesdale Bank PLC Registered
                       in Scotland (No. SC001111).  Registered Office: 30 St. Vincent Place, Glasgow G1 2HL.
                      </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- End Disclosure -->