<!-- Disclosure -->
<tr>
    <td align="center" bgcolor="[m_bgcolor]">
        <table width="[m_width]" class="inner" style="min-width: [m_width]px; width: [m_width]px;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td bgcolor="[bgcolor]" align="center" style="padding: 30px 30px 0; color: [color]; line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                        To reassure you that this email is from us, we have included the second part of your postcode at the top of this email. If
                        you have not provided us with this information or you have changed address
                        recently please contact The team at B on
                        <span style="color: [color];">
                        <a href="tel:08001217365" style="color: [m_links];">0800&nbsp;121&nbsp;7365</a>
                        </span> to update your details.
                    </td>
                </tr>
                <tr>
                    <td bgcolor="[bgcolor]" align="center" style="padding: 20px 30px 0; color: [color]; line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                        Please note, we will never contact you via unsolicited email asking you for any personal, security or account information
                        such as your PIN, PAN or SCAN details, login details or personal passwords.
                    </td>
                </tr>
                <tr>
                    <td bgcolor="[bgcolor]" align="center" style="padding: 20px 30px 0; color: [color]; line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                        If for any reason you think this email is not from The team at B please forward it to us at
                        <span style="color: [color];">
                        <a href="mailto:reportphishing@cybg.com" style="color: [m_links]; text-decoration: none">reportphishing@cybg.com</a>
                        </span> (please note no acknowledgement will be sent).
                    </td>
                </tr>
                <tr>
                    <td bgcolor="[bgcolor]" align="center" style="padding: 20px 30px 30px; color: [color]; line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                        B products and services are provided by Clydesdale Bank (which also trades as Yorkshire Bank). Clydesdale Bank PLC, is authorised
                        by the Prudential Regulation Authority and regulated by the Financial
                        Conduct Authority and the Prudential Regulation Authority. (Financial
                        Services Register No. 121873). Clydesdale Bank PLC Registered in Scotland
                        (No. SC001111). Registered Office: 30 St. Vincent Place, Glasgow G1 2HL.
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- End Disclosure -->