<!-- What about your data? -->
<tr>
  <td width="[m_width]" align="center" bgcolor="[bgcolor]"  style="padding: [titlepadding]; border: 1px solid [bgcolor]">   
      <h1 style="color:[titlecolor]; font-family: [titlefont]; font-size: [titlesize]; font-weight: bold; margin: 0px">
          [title]
      </h1>
  </td>
</tr>
<tr>
  <td width="[m_width]" align="center" bgcolor="[bgcolor]"  style="padding: [textpadding]; border: 1px solid [bgcolor]">   
      <p style="color: [textcolor]; font-family: [textfont]; font-size: [textsize]; font-weight: normal; padding: [textpadding]; margin: 0px">
          [text]
      </p>          
  </td>
</tr>
<!-- / What about your data? -->