<!--  Social Media  -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<tr>
    <td width="[m_width]" bgcolor='[bgcolor]' style="background-color: [bgcolor]">
        <table border="0" cellspacing="0" cellpadding="0" align="[alignment]">
            <tbody>
                <tr>
                    <td style="padding: 0 [spacebetween]px">
                        <a href="[fblink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="Facebook" style="display: block" alt="Facebook" src="https://via.placeholder.com/[iconsize]x[iconsize]" />
                        </a>
                    </td>
                    <td style="padding: 0 [spacebetween]px">
                        <a href="[twitterlink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="Twitter" style="display: block" alt="Twitter" src="https://via.placeholder.com/[iconsize]x[iconsize]" />
                        </a>
                    </td>
                    <td style="padding: 0 [spacebetween]px">
                        <a href="[youtubelink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="YouTube" style="display: block" alt="YouTube" src="https://via.placeholder.com/[iconsize]x[iconsize]" />
                        </a>
                    </td>
                    <td style="padding: 0 [spacebetween]px">
                        <a href="[instagramlink]" target="_blank">
                            <img width="[iconsize]" height="[iconsize]" title="B Instagram" style="display: block" alt="Instagram" src="https://via.placeholder.com/[iconsize]x[iconsize]" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!--  / Social Media  -->