<!--  Social Media  -->
<tr>
  <td align="left" bgcolor="ffffff">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" style="padding: 30px;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="responsive" style="width: 100%; min-width: 100%; text-align: center;">
          <tbody>
              <tr>
                  <td class="stack-420" align="left" style="padding: 0; color:#7D7D7D; line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold;">
                      
                  </td>
                  <td width="200" class="stack-420-auto" align="right" style="padding: 0; color:#7D7D7D; line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; text-align: right;">
                      <table border="0" cellspacing="0" cellpadding="0" align="right" class="table-center">
                          <tbody>
                              <tr>
                                  <td class="padr10" style="padding: 0px 10px 0px 0px;">
                                      <a href="https://www.facebook.com/youandb" target="_blank">
                                          <img width="34" height="34" title="Facebook" style="display: block" alt="Facebook" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/facebook-black.png" border="0">
                                      </a>
                                  </td>
                                  <td class="padr10" style="padding: 0px 10px 0px 0px;">
                                      <a href="https://twitter.com/HelloB" target="_blank">
                                          <img width="34" height="34" title="Twitter" style="display: block" alt="Twitter" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/twitter-black.png" border="0">
                                      </a>
                                  </td>
                                  <td class="padr10" style="padding: 0px 10px 0px 0px;">
                                      <a href="https://www.youtube.com/channel/UCg_mnQfUUE_veP6LXydTybQ" target="_blank">
                                          <img width="42" height="34" title="YouTube" style="display: block" alt="YouTube" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/youtube-black.png" border="0">
                                      </a>
                                  </td>
                                  <td>
                                      <a href="https://www.instagram.com/youandb/" target="_blank">
                                          <img width="34" height="34" title="B Instagram" style="display: block" alt="Instagram" src="https://s3.eu-west-2.amazonaws.com/cyb-239/images/instagram-black.png"
                                              border="0">
                                      </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
            </td>
          </tr>
      </table>

      
  </td>
</tr>
<!--  / Social Media  -->