<!-- T'S & C's -->
<tr>
        <td align="center" bgcolor="[bgcolor]">
            <table width="[m_width]" class="inner" style="min-width:100%; width: 100%;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td align="[alignment]"  style="padding: [padding]; color: [textcolor]; line-height: 18px; font-family: [fontfamily]; font-size:  [fontsize]px;" bgcolor="[bgcolor]">
                            If you have received this email in error, or no longer wish to receive emails asdffrom The team at B, Unsubscribe
                            <span style="color: [textcolor]">
                                <a href="https://www.google.com" style="color: [textcolor];text-decoration: underline !important;"> here.</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td align="[alignment]"  style="padding: [padding]; color: [textcolor]; line-height: 18px; font-family: [fontfamily]; font-size:  [fontsize]px;" bgcolor="[bgcolor]">
                            To reassure you this email is from us, we&#x2019;ve included the second part of your postcode at the top. If you have not provided us with this information or you have changed address recently please contact The team at B on 
                            <span style="color: [textcolor]">
                                <a href="tel:08001217365" style="color: [textcolor];">0800&nbsp;121&nbsp;7365</a>
                            </span> to update your details.
                        </td>
                    </tr>
                    <tr>
                        <td align="[alignment]"  style="padding: [padding]; color: [textcolor]; line-height: 18px; font-family: [fontfamily]; font-size:  [fontsize]px;" bgcolor="[bgcolor]">
                            Please note, we will never contact you via email asking for any personal, security or account information such as your PIN, full banking password or Internet Banking login details.
                        </td>
                    </tr>
                    <tr>
                        <td align="[alignment]"  style="padding: [padding]; color: [textcolor]; line-height: 18px; font-family: [fontfamily]; font-size:  [fontsize]px;" bgcolor="[bgcolor]">
                            If for any reason you think this email is not from The team at B please forward it to us at 
                            <span style="color: [textcolor]">
                                <a href="mailto:reportphishing@cybg.com" style="color: [textcolor]; text-decoration: underline !important;">reportphishing@cybg.com</a>
                            </span> (please note no acknowledgement will be sent).
                        </td>
                    </tr>
                    <tr>
                        <td align="[alignment]"  style="padding: [padding]; color: [textcolor]; line-height: 18px; font-family: [fontfamily]; font-size:  [fontsize]px;" bgcolor="[bgcolor]">
                            Clydesdale Bank PLC (which also trades as Yorkshire Bank and B) is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority. Financial Services Register No. 121873. Credit facilities other than regulated mortgages and regulated credit agreements are not regulated by the Financial Conduct Authority. Clydesdale Bank PLC is registered in Scotland (No. SC001111). Registered Office: 30 St Vincent Place, Glasgow G1 2HL.
                        </td>
                    </tr>
                    <tr>
                        <td align="[alignment]"  style="padding: [padding]; color: [textcolor]; line-height: 18px; font-family: [fontfamily]; font-size:  [fontsize]px;" bgcolor="[bgcolor]">
                            This message and any attachments have been scanned for viruses prior to leaving our network. However, we cannot guarantee the security of this message and will not be responsible for any damage as a result of any virus being passed on by a third party. We may monitor emails sent to and from this email account.
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- ./ T'S & C's -->
