<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->
<!-- 
<tr>
    <td>
        <table align="center" width="[m_width]" class="inner" style="width: 100%; min-width:100%; table-layout:fixed; padding: 0px 0px 0px 0px" border="0" cellspacing="0" cellpadding="0" bgcolor="[bgcolor]">
            <tbody>
                <tr>
                    <td align="center" class="container__50" style="padding: 0px 0px;" bgcolor="[bgcolor]">
                        <table width="500" class="inner mobile-remove__border mobile-remove__padding-left" style="width: 500px;" border="0" cellspacing="0" cellpadding="0" bgcolor='[contentbgcolor]'>
                            <tbody>
                                <tr>
                                    <td width="500" align="center" class="font18 mobile-remove__padding-left" style="padding: 0px 0; border-radius: [borderradius]px!important;-moz-border-radius: [borderradius]px!important;-webkit-border-radius: [borderradius]px!important;">                                                                    
                                        <table width="500" class="inner" style="width: 500px;margin: auto!important;" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td width='499' bgcolor='[contentbgcolor]'>
                                                            <table align="left" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table align="left" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>


                                                                                    <tr>
                                                                                        <td align="left" style="padding: 0 20px ">
                                                                                            <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: bold; margin: 0px; padding: 0px">
                                                                                                [title]
                                                                                            </p>
                                                                                        </td>
                                                                                    </tr>
                                                                                                                                                                                            
                                                                                    <tr>
                                                                                        <td align="left"  style="padding: 10px 20px">
                                                                                            <a style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; text-decoration: underline; line-height: 1em" href="[link1href]" target="_blank">
                                                                                                [link1]
                                                                                            </a>                  
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td align="left"  style="padding: 0 20px">
                                                                                            <a style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; text-decoration: underline; line-height: 1em;" href="[link2href]" target="_blank">
                                                                                                [link2]
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>  
                                                                                    
                          
                                                                                                                                                                                        
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td width="1" bgcolor='[contentbgcolor]' style='background-color: [contentbgcolor]' style="vertical-align: middle;">
                                                            <table width="1" align="left" style="width: 1px;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>                                                                                                                                                   
                                                                    <tr>
                                                                        <td width="1" height="80" bgcolor="[textcolor]">                                                                            
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td width='100' bgcolor='[contentbgcolor]' style='background-color: [contentbgcolor]' style="vertical-align: middle;">
                                                            <table width="100" align="left" style="width: 100px;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                                                                                        
                                                                    <tr>
                                                                        <td width="100" height="105" align="center" valign="middle" style="vertical-align: middle;">
                                                                            <img width="[imagesize]" height="[imagesize]" style="display: block;" alt="" src="http://via.placeholder.com/[imagesize]x[imagesize]" border="0">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                        </table>
                                    </td>                                                              
                                </tr>                                         
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr> -->


<tr>
    <td>
        <table width="600" class="inner" style="min-width:100%; width: 600px; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0" bgcolor="[bgcolor]">
            <tr>
                <!-- Space -->
                <td width="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
                <!-- / Space -->
                <!-- Safe Online -->
                <td>
                    <table width="100%" class="inner" style="min-width:100%; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0"
                        bgcolor="[contentbgcolor]">
                        <!-- Top Border -->
                        <tr>
                            <td width="100%" height="1" style="font-size:1px; line-height:1px; background:[bordercolor];">&nbsp;</td>
                        </tr>
                        <!-- / Top Border -->
                        <!-- Content -->
                        <tr>
                            <td>
                                <table width="100%" class="inner" style="min-width:100%; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0"
                                    bgcolor="[contentbgcolor]">
                                    <tr>
                                        <!-- Border Left -->
                                        <td width="1" style="font-size:1px; line-height:1px; background:[bordercolor];">&nbsp;</td>
                                        <!-- / Border Left -->
                                        <!-- Copy -->
                                        <td>
                                            <table width="100%" class="inner" style="min-width:100%; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0"
                                                bgcolor="[contentbgcolor]">
                                                <tr>
                                                    <td width="100%" height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table width="100%" class="inner" border="0" cellspacing="0" cellpadding="0" bgcolor="[contentbgcolor]" style="min-width:100%; table-layout:fixed;">
                                                            <tr>
                                                                <td align="left" width="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                                <td align="left" style="color:#373737; line-height: 19px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration:none;">
                                                                    <span style="color:[textcolor]; line-height: 19px; font-family: [fontfamily]; font-size: 19px; font-weight: bold; text-decoration:none;">Stay Safe Online</span>
                                                                    <br><br>
                                                                    <a href=""><span style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; text-decoration: underline; line-height: 1em">How to check if an email is genuine</span></a>
                                                                    <br>
                                                                    <a href=""><span style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; text-decoration: underline; line-height: 1em">Visit our Security Centre</span></a>
                                                                </td>
                                                                <td align="right" width="1" style="font-size:1px; line-height:1px; background:black;">&nbsp;</td>
                                                                <td width="100" align="center" valign="middle" style="vertical-align: middle;">
                                                                    <img width="[imagesize]" height="[imagesize]" style="display: block;" alt="" src="http://via.placeholder.com/[imagesize]x[imagesize]" border="0">
                                                                </td>
                                                                <td align="right" class="drop-sides" width="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <!-- / Copy -->
                                        <!-- Border Right -->
                                        <td width="1" style="font-size:1px; line-height:1px; background:[bordercolor];">&nbsp;</td>
                                        <!-- / Border Right -->
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- / Content -->
                        <!-- Bottom Border -->
                        <tr>
                            <td width="100%" height="1" style="font-size:1px; line-height:1px; background:[bordercolor];">&nbsp;</td>
                        </tr>
                        <!-- / Bottom Border -->
                    </table>
                </td>
                <!-- / Safe Online -->
                <!-- Space -->
                <td width="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
                <!-- / Space -->
            </tr>
        </table>
    </td>
</tr>


<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->