<!-- Safe online -->
<tr>
  <td align="center" width="[m_width]" style="width: [m_width]; border: 1px solid [bgcolor]" bgcolor="[bgcolor]">
      <table width="[m_width]" style='padding: [blockpadding]' border="0" cellspacing="0" cellpadding="0" >
          <tbody>
            <tr>
              <td bgcolor='[contentbgcolor]' style='background-color: [contentbgcolor]'>
                  <table align="left" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td style="padding: 20px 0px;">
                                  <table align="left" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                          <tr>
                                              <td align="left" style="padding: 0px 0px 10px 40px">
                                                <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: bold; margin: 0px; padding: 0px">
                                                  [title]
                                                </p>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td align="left"  style="padding: 0px 20px 0px 40px">
                                                  <a style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px; padding: 0px" href="[link1href]" target="_blank">
                                                    [link1]
                                                  </a>
                                                  <br>
                                                  <a style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px; padding: 0px" href="[link2href]" target="_blank">
                                                    [link2]
                                                  </a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td width="1" bgcolor='[contentbgcolor]' style='background-color: [contentbgcolor]'>
                  <table width="1" align="left" style="width: 1px;" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td width="1" height="86" bgcolor="[textcolor]">
                                  <div style='border-left: 1px solid red'></div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td width='100' bgcolor='[contentbgcolor]' style='background-color: [contentbgcolor]'>
                  <table width="100" align="left" style="width: 100px;" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td width="100" height="105" align="center" valign="middle" style="vertical-align: middle;">
                                <img width="[imagewidth]" height="[imageheight]" style="display: block;" alt="[imagealt]" src="[image]" border="0">
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
          </tbody>
      </table>
  </td>
</tr>
<!-- / Safe online -->