<!-- Open In Browser -->
<tr>
  <td align="center" style="padding: 12px 0px 9px;" bgcolor="[bgcolor]">
      <table align="center" border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr>
                  <td align="right" style="color: [color]; line-height: 11px; padding-right: 15px; font-family: Helvetica, Arial, sans-serif; font-size: 11px;">
                      <a style="color: [m_links];" href="http://x.email1.youandb.co.uk/ats/msg.aspx?sg1={(URLSignature1)}" target="_blank">Open in web browser</a>
                      <span style="padding: 0 10px;">|</span>
                      <a style="color: [m_links];" href="http://x.email1.youandb.co.uk/ats/msg.aspx?sg1={(URLSignature1)}" target="_blank">Unsubscribe</a>
                  </td>
              </tr>
          </tbody>
      </table>
  </td>
</tr>
<!-- ./ Open In Browser -->