<!-- Full image -->
<tr>
  <td>
      <table width="100%" class="inner" style="width: 100%; min-width:100%; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0" >
          <!-- Intro Section -->
          <tr>
              <td>
                  <table width="100%" class="inner" style="width:100%; min-width:100%; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0" >
                      <!-- Hero image  -->
                      <tr>
                          <td bgcolor="#ffffff" style="font-size:1px; line-height:1px">
                              <table width="100%" class="inner" style="width: 100%; min-width:100%; table-layout:fixed; text-align: center;" border="0" cellspacing="0" cellpadding="0"
                                  bgcolor="#ffffff" align="center">
                                  <tbody>
                                      <tr>
                                          <td align="center" style="font-size:1px; line-height:1px; padding: [padding]" bgcolor="[bgcolor]">
                                              <img width="[width]" height="[height]" style="display:block; width:[width]px!important; min-width: [width]px; height:[height];  margin: 0 auto;" alt="[alt]" src="[image]" border="0" class="scale">
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </td>
                      </tr>
                      <!-- / Hero image  -->
                  </table>
              </td>
          </tr>
          <!-- / Intro Section -->

      </table>
  </td>
</tr>
<!-- / Full image -->