<!-- Full image -->
<tr>
  <td width="[m_width]">
      <table width="[m_width]" border="0" cellspacing="0" cellpadding="0" >
          <tr>
              <td align="center" width="[width]" style="padding: [padding]; width: [width]px" bgcolor="[bgcolor]">
                  <img width="[width]" height="[height]" style="display:block; width:[width]px!important; min-width:[width]px!important; height:[height]px; margin: 0 auto;" alt="[alt]" src="[image]" border="0" />
              </td>
          </tr>
      </table>
  </td>
</tr>
<!-- / Full image -->