<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->

<!-- Table -->
<tr>
  <td align="center" bgcolor="[bgcolor]" style='padding: [padding]'>
      <table width='100%'  bgcolor='[tablecolor]' style="table-layout:fixed; -moz-border-radius: [tableradius]px; -webkit-border-radius: [tableradius]px; border-radius: [tableradius]px; border: 1px solid [tablebordercolor]" border="0" cellspacing="0" cellpadding="0">              
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" >

                        <tr>
                            <td align="center" style='padding: 20px'>
                                <img src="https://via.placeholder.com/[imagesize]x[imagesize]" width="[imagesize]" height="[imagesize]">
                            </td>
                            <td align="left" style="padding: 10px 20px 10px 0px">
                                <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                    [entry1]
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td align="center" style='padding: 20px'>
                                <img src="https://via.placeholder.com/[imagesize]x[imagesize]" width="[imagesize]" height="[imagesize]">
                            </td>
                            <td align="left" style="padding: 10px 20px 10px 0px">
                                <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                    [entry2]
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td align="center" style='padding: 20px'>
                                    <img src="https://via.placeholder.com/[imagesize]x[imagesize]" width="[imagesize]" height="[imagesize]">
                            </td>
                            <td align="left" style="padding: 10px 20px 10px 0px">
                                <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                    [entry3]
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td align="center" style='padding: 20px'>
                                <img src="https://via.placeholder.com/[imagesize]x[imagesize]" width="[imagesize]" height="[imagesize]">
                            </td>
                            <td align="left" style="padding: 10px 20px 10px 0px">
                                <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                    [entry4]
                                </p>
                            </td>
                        </tr>

                </table>
            </td>
        </tr>
     
      </table>   
  </td>
</tr>
<!-- /Table -->

<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->