<!-- Table -->
<tr>
  <td align="center" bgcolor="[bgcolor]" style='padding: [padding]'>
      <table width='100%'  bgcolor='[tablecolor]' style="table-layout:fixed; -moz-border-radius: [tableradius]px; -webkit-border-radius: [tableradius]px; border-radius: [tableradius]px; border: 1px solid [tablebordercolor]" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <td style='padding: 10px'>
                <table border="0" cellspacing="0" cellpadding="0">

                      <tr>
                          <td align="center" style='padding: 20px'>
                              <img src="[image1]" width="[imagesize]" height="[imagesize]">
                          </td>
                          <td align="left" style="padding: 10px 20px 10px 0px">
                              <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                  [entry1]
                              </p>
                          </td>
                      </tr>

                      <tr>
                          <td align="center" style='padding: 20px'>
                              <img src="[image2]" width="[imagesize]" height="[imagesize]">
                          </td>
                          <td align="left" style="padding: 10px 20px 10px 0px">
                              <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                  [entry2]
                              </p>
                          </td>
                      </tr>

                      <tr>
                          <td align="center" style='padding: 20px'>
                              <img src="[image3]" width="[imagesize]" height="[imagesize]">
                          </td>
                          <td align="left" style="padding: 10px 20px 10px 0px">
                              <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                  [entry3]
                              </p>
                          </td>
                      </tr>

                      <tr>
                          <td align="center" style='padding: 20px'>
                              <img src="[image4]" width="[imagesize]" height="[imagesize]">
                          </td>
                          <td align="left" style="padding: 10px 20px 10px 0px">
                              <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px">
                                  [entry4]
                              </p>
                          </td>
                      </tr>

                </table>
            </td>
        </tr>
      </table>   
  </td>
</tr>
<!-- /Table -->