<!-- Security Panel -->
<tr>
  <td width="[m_width]" align="center" bgcolor="[bgcolor]" style='border: 1px solid [bgcolor]'>
      <table width="[m_width]" align="center" class="inner" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center" class="header" style="padding: [padding]">
                  <table align="center" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td>
                                <img width="15" height="19" style="display: block; width: 15px; height: 19px;" alt="Padlock" src="http://wpm.ccmp.eu/wpm/100363/ContentUploads/BconnectedMAY18/padlock.png" border="0">
                              </td>
                              <td align="left" valign="bottom" style="padding: 0px 0px 0px 15px; color: [color]; line-height: 19px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; vertical-align: bottom; text-align: center;">
                                Your partial postcode is XXX                              
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
          <tr>
              <td align="center" class="header" style="padding: [padding]; color: [color]; line-height: 18px; font-family:Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal;">
                [content]
              </td>
          </tr>
          </tbody>
      </table>
  </td>
</tr>
<!-- ./ Security Panel -->