<!-- SECURITY PANEL -->
<tr>
  <td align="center" bgcolor="[bgcolor]">
      <table width="[m_width]" align="center" class="inner" border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr>
                  <td width="598" align="center">
                      <table width="499" align="center" class="inner" style="width: 499px;" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                              <tr>
                                  <td align="center" class="header" style="padding: 15px 0px;">
                                      <table align="center" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                              <tr>
                                                  <td>
                                                      <img width="19" height="26" style="display: block;" alt="Padlock" src="http://via.placeholder.com/19x26" border="0">
                                                  </td>
                                                  <td align="left" valign="bottom" style="padding: 0px 0px 0px 7px; color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]">Your partial postcode is XXX
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="pad">
                                      <table width="499" align="left" class="inner" style="width: 499px;" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                              <tr>
                                                  <td height="1" style="line-height: 1px; font-size: 0px;" bgcolor="#c7c7c7">
                                                      <img width="1" height="1" style="display: block;" alt="" src="1x1spacer.png" border="0">
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center" class="header" style="padding: 15px 4px; color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight];">We’ve included your postcode at the top so you can be sure
                                    [content]
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
  </td>
</tr>
<!-- /SECURITY PANEL -->