<!-- Security Panel -->
<tr>
  <td width="[m_width]" align="center" bgcolor="[bgcolor]" style='border: 1px solid [bgcolor]' >
      <table width="[m_width]" style="padding: [padding]" align="center" class="inner" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center" >
                  <table align="[alignment]" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                            <td align="left"><
                              <img width="15" height="19" style="display: block; width: 15px; height: 19px;" alt="Padlock" src="http://wpm.ccmp.eu/wpm/100363/ContentUploads/BconnectedMAY18/padlock.png" border="0">
                            </td>
                            <td align="left">
                              <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin-left: 10px; padding: 0px">       
                                Your partial postcode is XXX                              
                              </p>
                            </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
          <tr>
            <td style="padding: [padding]" align="[alignment]">
              <hr>
              
              <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 10px 0px 0px 0px; padding: 0px">                  
                [content]
              </p>
            </td>
          </tr>
          </tbody>
      </table>
  </td>
</tr>
<!-- ./ Security Panel -->