<!-- Test component -->
<tr>
    <td align="center" bgcolor="[bgcolor]">
        <table width="[m_width]" align="center" class="inner" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td align="center" class="header" style="padding: 10px 20px; color: [color]; line-height: 18px; font-family:Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal;">
                    <p>I WORK!  This is my [width], my [color] and my [bgcolor]</p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
  </tr>
<!-- /Test component -->
