<!-- Full image -->
<tr>
    <td align="center" bgcolor="[bgcolor]">
        <table width="[m_width]" align="center" class="inner" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                  <img width="[width]" height="[height]" style="display:block; width:[width]px!; min-width:[width]px; height:[height]px; margin: 0 auto;" alt="[alt]" src="[image]" border="0" />                  
                </tr>
            </tbody>
          </table>
      </td>
</tr>

