<!-- Main Content -->
<tr>
  <td width="[m_width]" height="auto" bgcolor='[bgcolor]'>
      <table width="[m_width]" style="min-width: [m_width]px; width: [m_width]px; table-layout:fixed; padding: [padding]" border="0" cellspacing="0" cellpadding="0">
          <tr>


              <!-- Image And Text -->
              <td width="auto" align="center" bgcolor='[bgcolor]'>
                  <table width="100%" align="center" style="min-width:100%; width: 100%; table-layout:fixed;" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                          <!-- Logo's -->
                          <th width="[imagewidth]" height="[imageheight]">
                              <img width="[imagewidth]" height="[imageheight]" style="display: block;" alt="[imagealt]" src="[image]" border="0">
                          </th>
                          <!-- / Logo's -->

                          <!-- Space -->
                          <th width="50"  style="font-size:1px; line-height:1px;" align="left">&nbsp;</th>
                          <!-- / Space -->

                          <!-- Text -->
                          <th align="left">
                              <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px; padding: 0px">
                                [content]
                              </p>
                          </th>
                          <!-- / Text -->
                      </tr>
                  </table>
              </td>
              <!-- Image And Text -->


          </tr>
      </table>
  </td>
</tr>
<!-- / Main Content -->