<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->

<!-- Full image -->
<tr>
    <td align="center" bgcolor="[bgcolor]">
        <table width="[m_width]" align="center" class="inner" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <img width="[width]" height="[height]" style="display:block; width:[width]px; height: [height]px; margin: 0 auto;" alt="[imagealt]" src="http://via.placeholder.com/[width]x[height]" border="0">                     
                    </td>
                </tr>
            </tbody>
          </table>
      </td>
</tr>

<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->
