<!-- Main Content -->
<tr>
  <td width="[m_width]" bgcolor='[bgcolor]' style='background-color: [bgcolor]; border: 1px solid [bgcolor]' >
      <table width="[m_width]" style="min-width: [m_width]px; width: [m_width]px; table-layout:fixed; padding: [padding]" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <!-- Logo's -->
            <th width="[imagewidth]" height="[imageheight]">
                <img width="[imagewidth]" height="[imageheight]" style="width: [imagewidth]px; height: [imageheight]px; display: block;" alt="[imagealt]" src="[image]" border="0" />
            </th>
            <!-- / Logo's -->

            <!-- Text -->
            <th style="color: [textcolor]; font-family: [textfont]; font-size: [fontsize]px; text-align:left; font-weight:normal;">
              <p style='padding-left: 20px'>
                [text]
              </p>
            </th>
            <!-- / Text -->
          </tr>
      </table>
  </td>
</tr>
<!-- / Main Content -->