<!-- GAP -->
<tr>
    <td width="[m_width]" height='[padding]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->


<tr>
    <td>
        <table width="[m_width]" class="inner" style="width: 100%; min-width:100%; table-layout:fixed; padding: 0px 0px 0px 0px" border="0" cellspacing="0" cellpadding="0" bgcolor="[bgcolor]">
            <tbody>
                <tr>
                    <td align="left" class="container__50" style="padding: 0px 50px 5px 50px;" bgcolor="[bgcolor]">
                        <table width="500" class="inner mobile-remove__border mobile-remove__padding-left" style="width: 500px;" border="0" cellspacing="0" cellpadding="0" bgcolor='[tablefill]'>
                            <tbody>
                                <tr>
                                    <td width="100%" align="center" class="font18 mobile-remove__padding-left" style="padding: 25px 30px 35px 30px; line-height: 27px; font-family: Calibri, Arial, sans-serif; border: 2px solid [tablebordercolor]; border-radius: [borderradius]px!important;-moz-border-radius: [borderradius]px!important;-webkit-border-radius: [borderradius]px!important;">                                                                    
                                        <table width="366" class="inner" style="width: 366px;margin: auto!important;" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" align="center" style="padding: 10px 0; margin: 0px 0">
                                                        <center>
                                                            <img src="http://via.placeholder.com/[imagesize]x[imagesize]" alt="" width="[imagesize]" height="[imagesize]" border="0">
                                                        </center>
                                                    </td>
                                                </tr>                                                  
                                                <tr>
                                                    <td colspan="3" align="center" style="padding: 10px; margin: 0">
                                                        <h2 class="mobile-icon-list-heading" style="text-align: center; color: [headertextcolor]; font-size: [headersize]px; line-height: 24px; font-weight:[headerweight]; text-decoration:none;font-family: [fontfamily]; margin:0; padding: 0">
                                                            [header]
                                                        </h2>
                                                        <h2 style="color:[bodytextcolor]; font-family: [fontfamily]; font-size: [bodysize]px; font-weight: [bodyweight]; margin: 20px 0 0 0;" class="font27">
                                                            [body]
                                                        </h2>                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>                                                              
                                </tr>                                         
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>



<!-- GAP -->
<tr>
    <td width="[m_width]" height='[padding]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->