<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->
    

<tr>
    <td>
        <table width="[m_width]" class="inner" style="width: 100%; min-width:100%; table-layout:fixed; padding: 0px 0px 0px 0px" border="0" cellspacing="0" cellpadding="0" bgcolor="[bgcolor]">
            <tbody>
                <tr>
                    <td align="left" class="container__50" style="padding: 0px 50px" bgcolor="[bgcolor]">
                        <table width="500" class="inner mobile-remove__border mobile-remove__padding-left" style="width: 500px;" border="0" cellspacing="0" cellpadding="0" bgcolor='[contentbgcolor]'>
                            <tbody>
                                <tr>
                                    <td width="100%" align="center" class="font18 mobile-remove__padding-left" style="padding: 20px;">                                                                    
                                        <table width="450" class="inner" style="width: 450px;margin: auto!important;" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="[alignment]">
                                                                        <p style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px; padding: 0px">
                                                                        [content]
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>                                                              
                                </tr>                                         
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>



<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->
