
<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->


  <tr>
    <td>
        <table width="[m_width]" class="inner" style="width: 100%; min-width:100%; table-layout:fixed; padding: 0px 0px 0px 0px" border="0" cellspacing="0" cellpadding="0" bgcolor="[bgcolor]">
            <tbody>
                <tr>
                    <td align="center" class="container__50" bgcolor="[bgcolor]">
                        <table width="[blocksize]" class="inner mobile-remove__border mobile-remove__padding-left" style="width: [blocksize]px;" border="0" cellspacing="0" cellpadding="0" bgcolor='[contentbgcolor]'>
                            <tbody>
                                <tr>
                                    <td style="padding: [padding]">
                                        <table align="center" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <img width="[imagewidth]" height="[imageheight]" style="display:block; width:100%; height:100%; margin: 0 auto;" alt="[imagealt]" src="http://via.placeholder.com/[imagewidth]x[imageheight]" border="0">                                                    
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>                                        
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>

<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->
