<!-- Main Content -->
<tr>
  <td width="[m_width]" bgcolor='[bgcolor]' style="padding: [padding]; background-color: [bgcolor]; line-height: [lineheight]px;border: 1px solid [bgcolor]">
      <table width="[m_width]" style="min-width: [m_width]px; width: [m_width]px; table-layout:fixed; padding: [padding]" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <!-- Logo's -->
            <th width="[imagewidth]" height="[imageheight]">
                <img width="[imagewidth]" height="[imageheight]" style="width: [imagewidth]px; height: [imageheight]px; display: block;" alt="[imagealt]" src="[image]" border="0" />
            </th>
            <!-- / Logo's -->

            <!-- Text -->
            <th align="[alignment]" style="background-color: [bgcolor]; line-height: [lineheight]px;border: 1px solid [bgcolor]; text-align: [alignment]"> 
              <div style='padding: 20px'>
                <h1 style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px; padding: 0px">
                    [content]
                </h1>
              </div>               
            </th>
            <!-- / Text -->
          </tr>
      </table>
  </td>
</tr>
<!-- / Main Content -->