<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->


<!-- TEXT IN BUBBLE -->
<tr>
    <td>
        <table width="100%" class="inner" style="width: 100%; min-width:100%; table-layout:fixed; padding: 0px 0px 0px 0px" border="0" cellspacing="0" cellpadding="0" bgcolor="[bgcolor]">
            <tbody>
                <tr>
                    <td align="left" class="container__50" style="padding: 0px 50px 5px 50px;" bgcolor="[bgcolor]">
                        <table width="500" class="inner mobile-remove__border mobile-remove__padding-left" style="width: 500px;" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="100%" align="center" class="font18 mobile-remove__padding-left" style="color: #000000; padding: 20px; line-height: 27px; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight];background: [bubblecolor];border-radius: [borderradius]px!important;-moz-border-radius: [borderradius]px!important;-webkit-border-radius: [borderradius]px!important;">                                                                    
                                        <table width="460" class="inner" style="width: 460px;margin: auto!important;" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <!-- NEW - Fullwidth Image -->
                                                    <tr>
                                                        <td valign="top" align="[alignment]"> 
                                                            <h2 style="color:[textcolor]; font-family: [fontfamily]; font-size: [fontsize]px; font-weight: [fontweight]; margin: 0px; padding: 0px">
                                                                [content]
                                                            </h2>   
                                                        </td>
                                                    </tr>
                                                    <!-- ./ New - Fullwidth Image -->
                                            </tbody>
                                        </table>
                                    </td>                                                              
                                </tr>                                         
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- /TEXT IN BUBBLE -->

<!-- GAP -->
<tr>
    <td width="[m_width]" height='[gap]' bgcolor="[bgcolor]">
    </td>
</tr>
<!-- /GAP -->
